{{page-title "TailwindcssDemo"}}

<div class="container">
	<h2 id="title" class="text-xl text-red-500">Welcome to Ember</h2>
	<h2 class="bg-red-500 text-white">background should be red</h2>
	<h2 class="text-blue-500">should be blue</h2>
	<p class="text-green-500">should be green</p>
</div>

{{outlet}}
